[package]
name = "near-lake"
version = "0.1.2"
authors = ["Near Inc <hello@nearprotocol.com>"]
edition = "2021"

[dependencies]
actix = "0.13.0"
anyhow = "1.0.51"
aws-config = "0.10.1"
aws-endpoint = "0.10.1"
aws-sdk-s3 = "0.10.1"
aws-smithy-http = "0.40.2"
clap = { version = "3.1.6", features = ["color", "derive", "env"] }
futures = "0.3.5"
http = "0.2"
humantime = "2.1.0"
itertools = "0.10.3"
openssl-probe = { version = "0.1.2" }
serde = { version = "1", features = ["derive"] }
serde_json = "1.0.55"
tokio = { version = "1.1", features = ["sync", "time"] }
tokio-stream = { version = "0.1" }
tracing = "0.1.13"
tracing-subscriber = "0.2.4"

near-indexer = { git = "https://github.com/near/nearcore", rev = "c7eaf26ba3e934a1ee76af2d2ac4266fa276d28c" }
near-indexer-primitives = { git = "https://github.com/near/nearcore", rev = "c7eaf26ba3e934a1ee76af2d2ac4266fa276d28c" }
near-client = { git = "https://github.com/near/nearcore", rev = "c7eaf26ba3e934a1ee76af2d2ac4266fa276d28c" }
