[package]
name = "near-lake"
version = "0.1.22"
authors = ["Near Inc <hello@nearprotocol.com>"]
edition = "2021"
rust-version = "1.68.2"

[dependencies]
actix = "0.13.0"
anyhow = "1.0.51"
aws-config = "0.6.0"
aws-endpoint = "0.6.0"
aws-sdk-s3 = "0.6.0"
aws-smithy-http = "0.36.0"
clap = { version = "3.1.6", features = ["color", "derive", "env"] }
futures = "0.3.5"
http = "0.2"
humantime = "2.1.0"
itertools = "0.10.0"
openssl-probe = "0.1.5"
serde = { version = "1", features = ["derive"] }
serde_json = "1.0.55"
tokio = { version = "1.1", features = ["sync", "time"] }
tokio-stream = { version = "0.1" }
tracing = "0.1.34"
tracing-subscriber = "0.2.4"

near-indexer = { git = "https://github.com/near/nearcore", rev = "073460def5d2beffa7df7d487432b9670d35f490" }
near-indexer-primitives = { git = "https://github.com/near/nearcore", rev = "073460def5d2beffa7df7d487432b9670d35f490" }
near-client = { git = "https://github.com/near/nearcore", rev = "073460def5d2beffa7df7d487432b9670d35f490" }
near-o11y = { git = "https://github.com/near/nearcore", rev = "073460def5d2beffa7df7d487432b9670d35f490" }
