name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Fmt check
      run: cargo fmt --all --check
    - name: Clippy check
      run: cargo clippy
    - name: Run tests
      run: cargo test --verbose
